@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finansal Yönetim Web Uygulaması</title>
    <link rel="stylesheet" href="~/css/site.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/jquery.validate.tr.js"></script>
    <script src="~/js/site.js" defer></script>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="/" class="navbar-brand">Finansal Yönetim Web Uygulaması</a>
            <button class="navbar-toggler" onclick="toggleMenu()">&#9776;</button>
            <ul class="navbar-nav">
                <li class="nav-item"><a href="/home/index" class="nav-link">Anasayfa</a></li>
                @if (HttpContextAccessor.HttpContext.Session.GetString("UserEmail") != null)
                {
                    <li class="nav-item"><a href="/account/index" class="nav-link">Hesaplar</a></li>
                    <li class="nav-item"><a href="/transaction/index" class="nav-link">Masraflar</a></li>
                    <li class="nav-item"><a href="/transaction/history" class="nav-link">Harcamaların Geçmişi</a></li>
                    <li class="nav-item"><a href="/transfer/index" class="nav-link">Para Transferi</a></li>
                    <li class="nav-item"><a href="/ExchangeRate/index" class="nav-link">Kurlar</a></li>
                    <li class="nav-item"><a href="/user/ChangePassword" class="nav-link">Şifre Değiştir</a></li>
                    <li class="nav-item"><a href="/user/logout" class="nav-link">Çıkış Yap</a></li>
                }
                else
                {
                    <li class="nav-item"><a href="/user/login" class="nav-link">Giriş Yap</a></li>
                    <li class="nav-item"><a href="/user/register" class="nav-link">Kayıt Ol</a></li>
                }
            </ul>
        </div>
    </nav>

    <div class="content">
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="container">
            <p>&copy; @DateTime.Now.Year Finansal Yönetim Web Uygulaması. Tüm Hakları Saklıdır.</p>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
